@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-roboto text-textLight bg-white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-roboto;
  }
}

.vertical-timeline-element-icon {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 40px !important;
  height: 40px !important;
}

.vertical-timeline-element-icon img {
  width: 24px !important;
  height: 24px !important;
}

/* Gradient text styles for tags */
.blue-text-gradient {
  background: linear-gradient(90deg, #3b82f6, #1e3a8a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: linear-gradient(90deg, #ec4899, #831843);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: linear-gradient(90deg, #10b981, #064e3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Quotation marks for testimonials */
.testimonial-text {
  position: relative;
  padding: 1rem;
}

.testimonial-text::before,
.testimonial-text::after {
  font-size: 3rem;
  color: #333333;
  position: absolute;
  opacity: 0.2;
}

.testimonial-text::before {
  content: "“";
  top: -1rem;
  left: 0;
}

.testimonial-text::after {
  content: "”";
  bottom: -2rem;
  right: 0;
}

.decorative-divider {
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 1px;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0/0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: rgb(209 213 219/0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from),
    #d1d5db var(--tw-gradient-via-position), var(--tw-gradient-to);
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}

/* Line clamp utilities */
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
